<p-carousel *ngIf="startComponent == true" [value]="animes" styleClass="custom-carousel" [numVisible]="6" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
  <ng-template let-anime pTemplate="item">
    <div class="product-item">
      <div class="product-item-content">
        <div>
          <img [src]="anime.image" [alt]="anime.title" class="product-image" />
          <h3 style="background-color: rgba(0,0,0,0.6); border-radius: 5px; margin: 10px 0;" class="p-mt-0 p-mb-3">{{anime.rating}}</h3>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
