<div>
    <body>
        <header>
           <img src="/assets/logo.png">
            <nav>
                <ul>
                    <li><a routerLink="/home" routerLinkActive="active"><i class="pi pi-home"></i> HOME</a></li>
                    <li><a routerLink="/animes" routerLinkActive="active"><i class="pi pi-search"></i> SEARCH</a></li>
                    <li *ngIf="isLogged()"><a routerLink="/profile" routerLinkActive="active"><i class="pi pi-user"></i> PROFILE</a></li>
                </ul>
            </nav>
            <button *ngIf="!isLogged()" routerLink="/animes" routerLinkActive="active" pButton type="button" label="LogIn / SignUp" class="p-button-sm p-button-rounded" ></button>
        </header>
    </body>

  </div>


