<div style="justify-content: center; width: 100%; margin-top: 10px; margin-bottom: 15px;" class="p-input-icon-left">
  <i class="pi pi-search"></i>
  <input pInputText type="text" [(ngModel)]="searchString" (keydown)="search($event)"/>
</div>

    <p-dataView styleClass="custom-dataview" #dv [value]="animes" [layout]="'grid'">
      <ng-template  let-anime pTemplate="gridItem">
        <div class="col-2" style="display: flex; justify-content: center; gap: 10px">
          <a [routerLink]="['/anime-detail']" [queryParams]="{ title: anime.title, main_picture: anime.main_picture.large, synopsis: anime.synopsis, genres: anime.genres, episodes: anime.num_episodes, rating: anime.mean }" class="link">
            <img height="338px" width="225px" [src]="anime.main_picture.medium">
          </a>
        </div>
      </ng-template>
    </p-dataView>

    <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>
